[submodule "choc660/Keebio-Parts.pretty"]
	path = choc660/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
[submodule "choc660/keebio-components"]
	path = choc660/keebio-components
	url = https://github.com/keebio/keebio-components
[submodule "choc660/marbastlib"]
	path = choc660/marbastlib
	url = https://github.com/ebastler/marbastlib
	branch = untested