[submodule "choc69/Keebio-Parts.pretty"]
	path = choc69/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
[submodule "choc69/keebio-components"]
	path = choc69/keebio-components
	url = https://github.com/keebio/keebio-components
[submodule "choc69/marbastlib"]
	path = choc69/marbastlib
	url = https://github.com/ebastler/marbastlib
	branch = untested
